.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #e8f0f2;
}
h1 {
  font-family: cursive;
  color: #053742;
}
h2 {
  color: #39a2db;
}
h3 {
  color: #a2dbfa;
}
input {
  padding: 1rem;
  width: 80%;
  margin: 0.6rem;
}

span {
  font-size: 1.6rem;
  padding: 0.2rem;
  cursor: pointer;
}